<!DOCTYPE HTML>
<!--
    Industrious by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
  -->
<html>
  <head>
    <title>Elements - Industrious by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" />
  </head>
  <body class="is-preload">

    <!-- Header -->
    <header id="header">
      <a class="logo" href="{{ url_for('Homepage') }}">Blackout</a>
      <nav>
	<a href="#menu">Menu</a>
      </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
	<li><a href="{{ url_for('Homepage') }}">Home</a></li>
	<li><a href="{{ url_for('Team') }}">Team</a></li>
	<li><a href="{{ url_for('Goal') }}">Goal</a></li>
	<li><a href="{{ url_for('Contribute') }}">Contribute</a></li>
      </ul>
    </nav>

    <!-- Heading -->
    <div id="heading" >
      <h1>Elements</h1>
    </div>

    <!-- Main -->
    <section id="main" class="wrapper">
      <div class="inner">
	<div class="content">

	  <!-- Elements -->
	  <div class="row">
	    <div class="col-6 col-12-medium">

	      <!-- Text -->
	      <h3>Text</h3>
	      <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this
		is <em>emphasized</em>.
		This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
		This is <u>underlined</u>, this is <code>code</code>, and this is a <a href="#">link</a>.</p>
	      <h2>Heading Level 2</h2>
	      <h3>Heading Level 3</h3>
	      <h4>Heading Level 4</h4>
	      <h5>Heading Level 5</h5>
	      <h6>Heading Level 6</h6>
	      <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem
		non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed
		ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing.</p>

	      <!-- Lists -->
	      <h3>Lists</h3>
	      <div class="row">
		<div class="col-6 col-12-small">
		  <h4>Unordered</h4>
		  <ul>
		    <li>Dolor pulvinar amet etiam.</li>
		    <li>Sagittis adipiscing lorem eleifend.</li>
		    <li>Felis enim feugiat viverra.</li>
		  </ul>
		  <h4>Alternate</h4>
		  <ul class="alt">
		    <li>Dolor pulvinar amet etiam.</li>
		    <li>Sagittis adipiscing lorem eleifend.</li>
		    <li>Felis enim feugiat viverra.</li>
		  </ul>
		</div>
		<div class="col-6 col-12-small">
		  <h4>Ordered</h4>
		  <ol>
		    <li>Dolor pulvinar sed etiam.</li>
		    <li>Etiam vel lorem sed amet.</li>
		    <li>Felis enim feugiat viverra.</li>
		    <li>Dolor pulvinar magna etiam.</li>
		    <li>Etiam vel felis at sed viverra.</li>
		    <li>Felis enim feugiat amet dolore.</li>
		    <li>Dolor pulvinar lorem etiam.</li>
		    <li>Etiam vel felis at lorem amet.</li>
		    <li>Felis enim feugiat viverra.</li>
		    <li>Dolor pulvinar magna etiam.</li>
		    <li>Etiam vel felis sed viverra.</li>
		  </ol>
		</div>
	      </div>
	      <h4>Definition</h4>
	      <dl>
		<dt>Alpha</dt>
		<dd>
		  <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
		    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
		    Integer ac pellentesque praesent.</p>
		</dd>
		<dt>Beta</dt>
		<dd>
		  <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
		    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
		    Integer ac pellentesque praesent.</p>
		</dd>
		<dt>Gamma</dt>
		<dd>
		  <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
		    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
		    Integer ac pellentesque praesent.</p>
		</dd>
	      </dl>

	      <!-- Icons -->
	      <h3>Icons</h3>
	      <ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
		<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
		<li><a href="#" class="icon fa-apple"><span class="label">Apple</span></a></li>
		<li><a href="#" class="icon fa-windows"><span class="label">Windows</span></a></li>
		<li><a href="#" class="icon fa-500px"><span class="label">500px</span></a></li>
	      </ul>

	      <!-- Actions -->
	      <h3>Actions</h3>
	      <ul class="actions">
		<li><a href="#" class="button primary">Default</a></li>
		<li><a href="#" class="button">Default</a></li>
	      </ul>
	      <ul class="actions">
		<li><a href="#" class="button primary small">Small</a></li>
		<li><a href="#" class="button small">Small</a></li>
	      </ul>
	      <div class="row">
		<div class="col-3 col-12-small">
		  <ul class="actions stacked">
		    <li><a href="#" class="button primary">Default</a></li>
		    <li><a href="#" class="button">Default</a></li>
		  </ul>
		</div>
		<div class="col-3 col-12-small">
		  <ul class="actions stacked">
		    <li><a href="#" class="button primary small">Small</a></li>
		    <li><a href="#" class="button small">Small</a></li>
		  </ul>
		</div>
		<div class="col-3 col-12-small">
		  <ul class="actions stacked">
		    <li><a href="#" class="button primary fit">Default</a></li>
		    <li><a href="#" class="button fit">Default</a></li>
		  </ul>
		</div>
		<div class="col-3 col-12-small">
		  <ul class="actions stacked">
		    <li><a href="#" class="button primary small fit">Small</a></li>
		    <li><a href="#" class="button small fit">Small</a></li>
		  </ul>
		</div>
	      </div>

	      <!-- Blockquote -->
	      <h3>Blockquote</h3>
	      <blockquote>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio
		porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet.
		Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra. Lorem ipsum
		dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
		iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac sed amet praesent. Nunc
		lacinia ante nunc ac gravida.</blockquote>

	      <!-- Table -->
	      <h3>Table</h3>
	      <h4>Default</h4>
	      <div class="table-wrapper">
		<table>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Price</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Alpha</td>
		      <td>Ante turpis integer aliquet porttitor.</td>
		      <td>10.00</td>
		    </tr>
		    <tr>
		      <td>Beta</td>
		      <td>Vis ac commodo adipiscing arcu aliquet.</td>
		      <td>20.00</td>
		    </tr>
		    <tr>
		      <td>Gamma</td>
		      <td>Morbi faucibus arcu accumsan lorem.</td>
		      <td>30.00</td>
		    </tr>
		    <tr>
		      <td>Delta</td>
		      <td>Vitae integer tempus condimentum.</td>
		      <td>40.00</td>
		    </tr>
		    <tr>
		      <td>Epsilon</td>
		      <td>Ante turpis integer aliquet porttitor.</td>
		      <td>50.00</td>
		    </tr>
		    <tr>
		      <td>Zeta</td>
		      <td>Vis ac commodo adipiscing arcu aliquet.</td>
		      <td>60.00</td>
		    </tr>
		    <tr>
		      <td>Eta</td>
		      <td>Morbi faucibus arcu accumsan lorem.</td>
		      <td>70.00</td>
		    </tr>
		    <tr>
		      <td>Theta</td>
		      <td>Vitae integer tempus condimentum.</td>
		      <td>80.00</td>
		    </tr>
		  </tbody>
		  <tfoot>
		    <tr>
		      <td colspan="2"></td>
		      <td>360.00</td>
		    </tr>
		  </tfoot>
		</table>
	      </div>
	      <h4>Alternate</h4>
	      <div class="table-wrapper">
		<table class="alt">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Price</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Alpha</td>
		      <td>Ante turpis integer aliquet porttitor.</td>
		      <td>10.00</td>
		    </tr>
		    <tr>
		      <td>Beta</td>
		      <td>Vis ac commodo adipiscing arcu aliquet.</td>
		      <td>20.00</td>
		    </tr>
		    <tr>
		      <td>Gamma</td>
		      <td>Morbi faucibus arcu accumsan lorem.</td>
		      <td>30.00</td>
		    </tr>
		    <tr>
		      <td>Delta</td>
		      <td>Vitae integer tempus condimentum.</td>
		      <td>40.00</td>
		    </tr>
		    <tr>
		      <td>Epsilon</td>
		      <td>Ante turpis integer aliquet porttitor.</td>
		      <td>50.00</td>
		    </tr>
		    <tr>
		      <td>Zeta</td>
		      <td>Vis ac commodo adipiscing arcu aliquet.</td>
		      <td>60.00</td>
		    </tr>
		    <tr>
		      <td>Eta</td>
		      <td>Morbi faucibus arcu accumsan lorem.</td>
		      <td>70.00</td>
		    </tr>
		    <tr>
		      <td>Theta</td>
		      <td>Vitae integer tempus condimentum.</td>
		      <td>80.00</td>
		    </tr>
		  </tbody>
		  <tfoot>
		    <tr>
		      <td colspan="2"></td>
		      <td>360.00</td>
		    </tr>
		  </tfoot>
		</table>
	      </div>

	    </div>
	    <div class="col-6 col-12-medium">

	      <!-- Buttons -->
	      <h3>Buttons</h3>
	      <ul class="actions">
		<li><a href="#" class="button primary">Primary</a></li>
		<li><a href="#" class="button">Default</a></li>
	      </ul>
	      <ul class="actions">
		<li><a href="#" class="button primary large">Large</a></li>
		<li><a href="#" class="button">Default</a></li>
	      </ul>
	      <ul class="actions">
		<li><a href="#" class="button small">Small</a></li>
		<li><a href="#" class="button wide">Wide</a></li>
	      </ul>
	      <ul class="actions fit">
		<li><a href="#" class="button primary fit">Fit</a></li>
		<li><a href="#" class="button fit">Fit</a></li>
	      </ul>
	      <ul class="actions fit">
		<li><a href="#" class="button primary fit small">Fit + Small</a></li>
		<li><a href="#" class="button fit small">Fit + Small</a></li>
	      </ul>
	      <ul class="actions">
		<li><a href="#" class="button primary icon fa-search">Icon</a></li>
		<li><a href="#" class="button icon fa-download">Icon</a></li>
	      </ul>
	      <ul class="actions">
		<li><span class="button primary disabled">Primary</span></li>
		<li><span class="button disabled">Default</span></li>
	      </ul>

	      <!-- Form -->
	      <h3>Form</h3>
	      <form method="post" action="#">
		<div class="row gtr-uniform">
		  <div class="col-6 col-12-xsmall">
		    <input type="text" name="name" id="name" value="" placeholder="Name" />
		  </div>
		  <div class="col-6 col-12-xsmall">
		    <input type="email" name="email" id="email" value="" placeholder="Email" />
		  </div>
		  <!-- Break -->
		  <div class="col-12">
		    <select name="category" id="category">
		      <option value="">- Select -</option>
		      <option value="alpha">Option alpha</option>
		      <option value="beta">Option beta</option>
		      <option value="gamma">Option gamma</option>
		      <option value="delta">Option delta</option>
		      <option value="epsilon">Option epsilon</option>
		      <option value="zeta">Option zeta</option>
		      <option value="eta">Option eta</option>
		      <option value="theta">Option theta</option>
		    </select>
		  </div>
		  <!-- Break -->
		  <div class="col-4 col-12-small">
		    <input type="radio" id="radio-alpha" name="radio" checked>
		    <label for="radio-alpha">Radio alpha</label>
		  </div>
		  <div class="col-4 col-12-small">
		    <input type="radio" id="radio-beta" name="radio">
		    <label for="radio-beta">Radio beta</label>
		  </div>
		  <div class="col-4 col-12-small">
		    <input type="radio" id="radio-gamma" name="radio">
		    <label for="radio-gamma">Radio gamma</label>
		  </div>
		  <!-- Break -->
		  <div class="col-6 col-12-small">
		    <input type="checkbox" id="checkbox-alpha" name="checkbox">
		    <label for="checkbox-alpha">Checkbox alpha</label>
		  </div>
		  <div class="col-6 col-12-small">
		    <input type="checkbox" id="checkbox-beta" name="checkbox" checked>
		    <label for="checkbox-beta">Checkbox beta</label>
		  </div>
		  <!-- Break -->
		  <div class="col-12">
		    <textarea name="textarea" id="textarea" placeholder="Alpha beta gamma delta" rows="6"></textarea>
		  </div>
		  <!-- Break -->
		  <div class="col-12">
		    <ul class="actions">
		      <li><input type="submit" value="Submit Form" class="primary" /></li>
		      <li><input type="reset" value="Reset" /></li>
		    </ul>
		  </div>
		</div>
	      </form>

	      <!-- Image -->
	      <h3>Image</h3>
	      <h4>Fit</h4>
	      <span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span>
	      <div class="box alt">
		<div class="row gtr-50 gtr-uniform">
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <!-- Break -->
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <!-- Break -->
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		  <div class="col-4"><span class="image fit"><img src="{{ url_for('static', path='/images/pic01.jpg') }}" alt="" /></span></div>
		</div>
	      </div>
	      <h4>Left &amp; Right</h4>
	      <p>
		<span class="image left"><img src="{{ url_for('static', path='/images/pic02.jpg') }}" alt="" /></span>
		Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
		tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
		felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
		praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
		primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
		adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
		sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
		Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
		Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor
		sit amet dolor feugiat consequat.
	      </p>
	      <p>
		<span class="image right"><img src="{{ url_for('static', path='/images/pic02.jpg') }}" alt="" /></span>
		Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
		tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
		felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
		praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
		primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
		adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
		sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
		Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
		Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor
		sit amet dolor feugiat consequat.
	      </p>

	      <!-- Box -->
	      <h3>Box</h3>
	      <div class="box">
		<p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu
		  felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
		  praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum
		  primis in faucibus vestibulum. Blandit adipiscing eu ipsum primis in faucibus
		  vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
		  faucibus lorem ipsum dolor sit amet nullam.</p>
	      </div>

	      <!-- Preformatted Code -->
	      <h3>Preformatted</h3>
	      <pre><code>i = 0;

		  while (!deck.isInOrder()) {
		  print 'Iteration ' + i;
		  deck.shuffle();
		  i++;
		  }

		  print 'It took ' + i + ' iterations to sort the deck.';
	      </code></pre>

	    </div>
	  </div>
	</div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
	<div class="content">
	  <section>
	    <h3>Accumsan montes viverra</h3>
	    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
	  </section>
	  <section>
	    <h4>Sem turpis amet semper</h4>
	    <ul class="alt">
	      <li><a href="#">Dolor pulvinar sed etiam.</a></li>
	      <li><a href="#">Etiam vel lorem sed amet.</a></li>
	      <li><a href="#">Felis enim feugiat viverra.</a></li>
	      <li><a href="#">Dolor pulvinar magna etiam.</a></li>
	    </ul>
	  </section>
	  <section>
	    <h4>Magna sed ipsum</h4>
	    <ul class="plain">
	      <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
	      <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
	      <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
	      <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
	    </ul>
	  </section>
	</div>
	<div class="copyright">
	  &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
	</div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', path='/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/util.js') }}"></script>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>

  </body>
</html>
